<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Residential Electricity Consumption</title>
<meta name="keywords" content="" />
<meta name="Premium Series" content="" />
<link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
<style>
body {
  background-image: url("{{ url_for('static', filename='images/back.jpg') }}");
}
</style>
</head>
<body>
<!-- start header -->
<div id="header">
	<div id="logo">
		<h2><span><center><br/>Predicting Residential Electricity Consumption Using CNN-BiLSTM-SA Neural Networks

</center></span></h2>
		
	</div>
	<div id="menu">
		<ul id="main">
			<li class="current_page_item"><a href="index"><font size="4" color="black">Home</a></li><td></td>
			<li><a href="AdminLogin"><font size="4" color="black">Admin Login</a></li><td></td>
			<td></td>		
     
		</ul>
		
	</div>
	
</div>
<div id="wrapper">
	<!-- start page -->
	<div id="page">
		
		<!-- start content -->
		<div id="content">
			<div class="flower"><img src="{{ url_for('static', filename='images/tra.jpg') }}" alt="" width="500" height="200" /></center></div>
			<br/><br/>
			<center><font size="3" color="black">As global population growth and the use of household appliances increase, residential
electricity consumption has surged, leading to challenges in maintaining a balanced electrical load. This surge
often results in localized and intermittent power outages, adversely affecting residential electricity reliability
and the profitability of power supply companies. Addressing this, we propose a novel CNN-BiLSTM-SA
model, combining Convolutional Neural Network (CNN), Bidirectional Long Short-Term Memory
(BiLSTM), and Self-Attention (SA) mechanisms, to accurately predict residential electricity consumption.</font></center>
		<center>
		
			<table align="center">
			<tr>
			<h3>
			</p></h3>
			</table>
			</center><br /><div class="post">
				
				<div class="entry">
					
				</div>
			</div>
		</div>
		<!-- end content -->
		<!-- start sidebars -->
		
		<!-- end sidebars -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end page -->
</div>
</body>
</html>


